<?xml version="1.0" encoding="utf-8" ?>

<log4net>

	<logger name="ApiEvent">
		<level value="info" />
		<appender-ref ref="ApiEventLog" />
	</logger>

	<logger name="Event">
		<level value="info" />
		<appender-ref ref="EventLog" />
	</logger>

	<logger name="Carrier">
		<level value="info" />
		<appender-ref ref="CarrierLog" />
	</logger>

	<logger name="Map">
		<level value="info" />
		<appender-ref ref="MapLog" />
	</logger>

	<logger name="Mission">
		<level value="info" />
		<appender-ref ref="MissionLog" />
	</logger>

	<logger name="Job">
		<level value="info" />
		<appender-ref ref="JobLog" />
	</logger>

	<logger name="Order">
		<level value="info" />
		<appender-ref ref="OrderLog" />
	</logger>

	<logger name="Position">
		<level value="info" />
		<appender-ref ref="PositionLog" />
	</logger>

	<logger name="Worker">
		<level value="info" />
		<appender-ref ref="WorkerLog" />
	</logger>

	<logger name="Middleware">
		<level value="info" />
		<appender-ref ref="MiddlewareLog" />
	</logger>

	<logger name="MQTT">
		<level value="info" />
		<appender-ref ref="MQTTLog" />
	</logger>

	<logger name="Test">
		<level value="info" />
		<appender-ref ref="TestLog" />
	</logger>

	<!-- #region ControllerLogs -->

	<logger name="OrderController">
		<level value="info" />
		<appender-ref ref="OrderControllerLog" />
	</logger>

	<logger name="JobController">
		<level value="info" />
		<appender-ref ref="JobControllerLog" />
	</logger>

	<logger name="MissionController">
		<level value="info" />
		<appender-ref ref="MissionControllerLog" />
	</logger>

	<!-- #endregion ControllerLogs -->

	<!--<logger name="Console">
		<appender-ref ref="ColoredConsole" />
	</logger>

	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%date %m%n" />
		</layout>
	</appender>-->

	<appender name="ApiEventLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_ApiEvent.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="EventLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Event.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="CarrierLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Carrier.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MapLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Map.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MissionLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Mission.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="JobLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Job.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="OrderLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Order.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="PositionLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Position.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MiddlewareLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Middleware.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="WorkerLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Worker.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="TestLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_Test.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<!-- #region ControllerLogs -->

	<appender name="OrderControllerLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_OrderController.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="JobControllerLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_JobController.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MissionControllerLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_MissionController.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>

	<!-- #endregion ControllerLogs -->

	<appender name="MQTTLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\'JobScheduler'\\\\'_MQTT.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>
</log4net>